

.action-button {
    border-radius: $border-radius-lg;
    outline: none;
    border: 0;
    background: none;
    box-shadow: none;
    background: linear-gradient(180deg, $dark-purple 0%, $teal 100%);
    font-family: $font-primary;
    font-size: 18px;
    text-align: center;
    padding: $sm $xxl;
    color: white;
    font-weight: bold;
    height: 55px;
    margin-left: $lg;
    cursor: pointer;
    white-space: nowrap;
    animation: fade-in-slide-up 0.6s ease 0s 1;
}

.action-button:hover {
    box-shadow: 0 0 10px $teal;
    border: 1px solid $teal;
    box-sizing: border-box;
}

@media screen and (max-width: $break-point-mobile) {
    .action-button {
        padding: $sm $lg;
        font-size: 14px;
        height: 45px;
    }
}

@keyframes fade-in-slide-up {
    0% {
        opacity: 0;
        transform: translate(0px, 30px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}