.register-form, .login-form, .add-habit-form {
    form {
        width: 100%;
        min-width: 200px;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .error {
            color: $red;
            font-size: 12px;
            text-transform: capitalize;
        }
    }

    h3 {
        margin-bottom: $xl;
        width: 100%;
        text-align: center;
    }

    label {
        color: $black;
        margin-bottom: $xxl;
        width: 100%;
    }

    input, select, textarea {
        border: none;
        outline: none;
        margin-top: $md;
        border-bottom: 1px solid $black;
        font-family: $font-secondary;
        font-size: 18px;
        width: 100%;
        border-radius: 3px;
        padding: $sm;
    }

    input[type="number"] {
        width: 80px;
        margin-left: $xl;
    }

    textarea {
        border: 1px solid $black;
    }

    input:focus {
        box-shadow: 0 0 1px $teal;
    }

    input::placeholder {
        color: $black;
        opacity: 0.2;
    }

    .form__placeholder-success {

        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
            width: 60px;
        }
    }

    .form__extra {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
            white-space: nowrap;
        }
    }
}

.color-select {
    margin-bottom: $xl;
}

.color-select__options {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: $md;
    color: $black;

    .color-select__option--selected {
        border: 1px solid $teal;
    }


    label {
        width: $xxl;
        margin: $md;
        border-radius: 3px;
    }

    input {
        cursor: pointer;
        margin: 0;
    }

    input:focus {
        outline: none
    }
}