
html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    padding: $xl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;
    box-sizing: border-box;
}

.app, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    color: $purple;
    font-size: $xxl;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 18px;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

.button {
    border-radius: $border-radius-lg;
    outline: none;
    border: 1px solid $pink;
    background: none;
    box-shadow: 0 4px 10px rgba($dark-pink, .25);
    background: $pink;
    font-family: $font-primary;
    font-size: 12px;
    text-align: center;
    padding: $xs $lg;
    color: $bright-pink;
    font-weight: bold;
    height: 35px;
    min-width: 80px;
    margin-left: $lg;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    box-shadow: 0 1px 5px rgba($bright-pink, .75);
}

.button--clear {
    background-color: transparent;
}

.button--compact {
    min-width: 40px;
    height: 25px;
}

.confetti-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: $break-point-mobile) {
    body {
        padding: 0;
    }
}