
.habit-overview {

    @each $color in $habitColors {
        &.habit-overview--hc#{index($habitColors, $color)} {
            //background: radial-gradient(8.12% 296.03% at 5.56% 67.86%, $color 0%, white 100%);

            .habit-overview__header .habit-overview__title p {
                margin: 0;
            }

            .habit-overview__header .habit-overview__title p:first-of-type {
                color: darken($color, 45%);
            }

            .habit-overview__header .habit-overview__title p:last-of-type {
                color: $color;
                font-size: 14px;
            }

            .habit-overview__week-summary .week-summary__day--today p {
                color: darken($color, 45%);
            }
        }
    }
}

.habit-overview--deleted {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
        width: 150px;
    }

    p {
        text-align: center;

        svg {
            width: 20px;
        }
    }
}

.habit-overview__header {
    display: flex;
    justify-content: space-between;
}

.habit-overview__options svg:not(.fa-cog) {
    margin-right: $md;
    width: 15px;
    color: $pink;
}

.habit-complete-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.habit-overview__stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.habit-overview__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $xl;
    box-sizing: border-box;
    margin-right: $lg;

    > div {
        display: flex;

        svg {
            width: 50px;
        }

        p {
            font-size: 26px;
            color: $black;
            margin: 0 0 0 $sm;
        }
    }

    span {
        font-size: 12px;
        color: $grey;
        margin: 0 0 $sm 0;
        font-weight: bold;
    }

    .progress-bar {
        border: 1px solid #eaf636;
        height: 8px;
        border-radius: 30px;
        width: 100%;
        position: relative;
    }

    .progress-bar--filler {
        border: 1px solid transparent;
        height: 100%;
        border-radius: 30px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #eaf636;
        background-size: 70%;
        background-image: url('images/bubbles.svg');
    }
}

.habit-overview__week-summary {
    display: flex;
    overflow-x: scroll;
    margin-top: $xl;
}

.week-summary__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $md;
    color: $black;
    border-radius: 3px;
    border: 1px solid $pink;
    margin-right: $md;
}

@media screen and (max-width: $break-point-mobile) {
    .habit-overview__toggle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    
        > p {
            text-align: right;
            font-size: 10px;
            margin: 0;
        }
    }
}