
.habits {
    .habits__description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        font-size: 14px;
        text-align: left;
        width: 100%;
        font-weight: bold;
        color: $black;

        p {
            width: 100% !important;
            margin: 0;
            font-size: 12px;
        }
    }
}

.habit-list {

    .habit-list__title {
        margin-bottom: $md;
    }

    .habit-list__subtitle {
        font-size: 14px;
        margin-top: $md;
        color: $light-purple;
        margin-bottom: $xl;
    }
}

.habit-list__item {
    border-radius: 30px;
    height: 70px;
    width: 100%;
    margin-bottom: $md;
    padding: $lg;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    > span {
        font-weight: bold;
        color: $black;
        margin: 0;
        width: 30%;
    }

    @each $color in $habitColors {
        &.habit-list__item--hc#{index($habitColors, $color)} {
            background: linear-gradient(90deg, $color 2.84%, rgba(255, 255, 255, 0.5) 46.34%);
            border: 1px solid $color;

            p {
                font-size: 12px;
                color: darken($color, 45%);
                display: flex;
                align-items: center;
                animation: label-fade-in-and-up 0.4s ease 0s 1;
                width: 80px;
            }
        }
    }

    > div {
        display: flex;
        align-items: center;
    }
}

.item-status--transparent {
    color: transparent !important;
}

.balloons {
    width: 40px;
    position: absolute;
    right: 0;
    animation: rotate-balloons 0.5s linear 0s infinite alternate forwards, float-balloons 5s ease 0s 1 forwards;
}

@keyframes label-fade-in-and-up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate-balloons {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

@keyframes float-balloons {
    100% {
        transform: translateY(-900px);
    }
}

@media screen and (max-width: $break-point-mobile) {
    .habit-list__item {
        height: 140px;
        justify-content: flex-end;

        > div {
            margin-top: $md;
            text-align: right;
        }

        button {
            margin-top: $md;
        }
    }
    .habits__description p {
        font-size: 10px !important;
        text-align: left;
    }
}