

.message {
    padding: $lg $xl;
    border-radius: $border-radius-lg;
    background-color: white;
    color: $purple;
    box-shadow: $box-shadow-md;
    position: relative;
    margin-bottom: $lg;
    animation: fade-in-slide-left 0.4s ease 0s 1;

    p {
        font-weight: bold;
        text-align: left;
        width: 100%;
    }

    &:not(.message--loading) .avatar {
        position: absolute;
        top: -60px;
        right: -40px;
    }
}

.message::after {
    bottom: 78px;
    right: -12px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 20px;
    margin-left: 20px;
    transform: rotate(30deg);
}

.message--initial {
    margin-top: $xxl;
}

.message--loading {
    padding: $lg $xxl;
    width: 60px;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    &::after {
        bottom: 70%;
        right: -10%;
        transform: rotate(35deg);
    }
}

.message--grouped::after {
    display: none;
}

.message--component {
    width: 80%;
}

.message--sender-bot {
    align-self: flex-end;
}

.message-sender-bot {
    align-self: flex-start;
}

@media screen and (max-width: $break-point-mobile) {
    .message p {
        font-size: 14px;
    }

    .message::after {
        bottom: 64px;
    }

    .message--loading:after {
        bottom: 40px;
    }

    .message:not(.message--loading) .avatar {
        width: 40px;
        right: -10px;
    }
}

@keyframes fade-in-slide-left {
    0% {
        opacity: 0;
        transform: translate(40px, 30px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}