@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Roboto&display=swap');

$font-primary: 'Kodchasan', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$purple: #6E2FBC;
$dark-purple: #5B3758;
$pink: #E5BED9;
$light-pink: #FFF7FC;
$dark-pink: #FFE1F7;
$black: #333333;
$teal: #3A7189;
$red: #FF4B4B;

$border-radius-lg: 30px;

$xs: 2px;
$sm: 4px;
$md: 8px;
$lg: 16px;
$xl: 32px;
$xxl: 48px;

$box-shadow-md: 0 4px 16px rgba(0, 0, 0, .1);

$break-point-mobile: 605px;